@{
  Layout = "_Layout";
}

 <div class="container">

  <h1>Add new Vendor</h1>

  <div id="vendor-form" class="card">

    <form action="/vendors" method="post">
      Enter Vendor name:<br>
      <input id="name" name="name" type="text">
      <br>
      Enter a Description:<br>
      <input id="description" name="description" type="text">
      <br>
      <button type="submit" class="btn btn-success">Add</button>
    </form>

  </div>
  
    <p><a href="/">Back to Homepage</a></p>
    <p><a href="/vendors">Back to Vendors</a></p>

 </div>

