@{
  Layout = "_Layout";
}
@using Bakery.Models;

<div class="container">
  
  <h1>Orders</h1>

  <ul>
      @foreach (Order order in Model)
      {
          <li><a href="/orders/@order.Id">@order.Description</a></li>
      }
  </ul>

  <a href="/orders/new">Add another order</a>

</div>
