<h1>Create a new Order for @Model.Name</h1>

<form action="/vendors/@Model.Id/orders" method="post">
  <label for="title">Enter Title: </label>
  <input id="title" name="title" type="text">
  <label for="description">Enter a Description: </label>
  <input id="description" name="description" type="text">
  <label for="price">Enter Price: </label>
  <input id="price" name="price" type="number">  
  <button type="submit">Add</button>
</form>